 
 <!-- Normal Style -->
 <h1 style="text-align: center;">My First Component</h1>
 <h1 [style.text-align]="headerAlign">My First Component-Dynamic Style</h1>
 <!-- Angular Style -->
 <h1 [ngStyle]="{'color':'red','text-align':'center'}"> My First Component-Dynamic Style</h1>
 <h1 [ngStyle]="{'color':fontColor,'text-align':headerAlign}"> My First Component-Dynamic Style</h1>

 <h2>This Interpolation Example: {{title}}</h2>

 <h2>Property Binding Example:</h2>
<button [disabled]="!isAddDisabled">Add-Disable-Example</button>
<button disabled>Delete</button>

<h2>Event Binding Example: </h2>
<button (click)="addUser()" >Add User</button>
<h1>User List: {{user}}</h1>

<h2>Event Binding Example2: </h2>

<label>Enter User Name onchange:</label>
<input type="text" [value]="user" (input)="addUser()">

<label>Enter User Name:</label>
<input type="text" [(ngModel)]="user">
<h1>User List: {{user}}</h1>

<app-counter  (updatedUser)="updateUser($event)" [receivedUser]="user"></app-counter>